<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src={{js_address}}></script>
	<title>ETHAN YANG - Contact</title>
	<style type="text/css">
		.menu{
			width: 26%;
			height: 100%;
			float: left;
		}
		.contact{
			width: 70%;
			height: 100%;
			overflow: scroll;
			float: right;
		}
		h1{
			font: serif;
			color: #888888;
		}
		.intro-text{
			font-size: 18px;
			font-family: YaHei;
			text-indent:2em;

		}
		.text{
			font-size: 20px;
			text-indent:2em;
			font-family:Arial;
		}
		.input{
			text-align:center;
			float: middle;
			font-family:Arial;
		}


	</style>
</head>
<body>
	<div class="main">
		<div class="menu">{% include 'menu.html' %}</div>
		<div class="contact">
			<h1>Contact Infomation</h1><br>
			<p class="intro-text">此网站为我本人用以展示个人的艺术作品以及摄影作品。不定期会在得到权限的状态下，上传同为爱好摄影的摄影师们的作品集，作品集无固定主题，旨在表达街头、室内、自然、时尚等不同状况下的瞬间。每一个作品集在页面的卷首会有主题的相关阐述，如诺阁下喜爱该摄影师的作品，或是想和他／她约拍，欢迎发送邮件（点击”Author:”后的作者昵称）直接与摄影师交流，或者点击分享按钮，传播至任何您喜爱的平台。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同时，在通过储存，截图，外部拍摄等等手段直接传播本网站摄影师作品时，希望阁下在上传到任何平台（包括并不限于知乎，微信公众号，贴吧等等）时，注明照片的来源以及作者.</p>
			<p class="text"><strong>Instagram:  </strong><a style="color: #000099;" href="https://www.instagram.com/ethan._.yyh/">@ethan._.yyh</a></p>
			{% include 'message.html' %}
		</div>
		
</body>
</html>