<!DOCTYPE html>
<html>
<script type="text/javascript" src={{js_address}}></script>
<head>
	<title>ETHAN YANG Gallary - Home</title>
</head>
<style>
       *{
           margin: 0;
           padding: 0;
       }

</style>
<body>
	<div style="background:url({{Index_bg_img_address}});background-size:contain;background-position: center center;position: absolute;width:100%;height: 100%;">
		<center>
			<p onclick="goto({% view.test %})" style="cursor:pointer;font: 'Arial';font-size: 100px; color: white;margin-top: 20%">
				Ethan Yang
			</p>
		</center>
		</div>

	</div>

</body>
</html>