<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src={{js_address}}></script>
	<title>ETHAN YANG ART - SPEC</title>
</head>
<body>
	<div style="background: white;margin:0px;background-size:contain;background-position: center center;position: absolute;width:100%;height: 100%;">
		<div style="width: 300px;height: 100%;margin-left: 50px;background: white;opacity:0.5;background-position: center center;position: absolute;">
			<div style="width: 300px;height: 100px;background:url({{main_logo_address}});background-size:cover;opacity: 0.9"></div>
		<br>
		<br>
		<div>Home</div><br>
		<div>First</div><br>
		<div>Second</div><br>
		</div>
</div>
</body>
</html>